<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated editpolicymodel -->
      <package
            uri="http://framed/editpolicymodel"
            class="Editpolicymodel.EditpolicymodelPackage"
            genModel="model/editpolicymodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated editpolicymodel -->
      <package
            uri="http://iorm/1.0"
            class="iorm.IormPackage"
            genModel="model/editpolicymodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated editpolicymodel -->
      <package
            uri="http://iorm.featuremodel/1.0"
            class="iorm.featuremodel.FeaturemodelPackage"
            genModel="model/editpolicymodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated editpolicymodel -->
      <package
            uri="http://iorm.featuremodel/1.0"
            class="featuremodel.FeaturemodelPackage"
            genModel="model/editpolicymodel.genmodel"/>
   </extension>

</plugin>
