<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated editpolicymodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="editpolicymodel.presentation.editpolicymodelModelWizardID"
            name="%_UI_editpolicymodelModelWizard_label"
            class="editpolicymodel.presentation.editpolicymodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/editpolicymodelModelFile.gif">
         <description>%_UI_editpolicymodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated editpolicymodel -->
      <editor
            id="editpolicymodel.presentation.editpolicymodelEditorID"
            name="%_UI_editpolicymodelEditor_label"
            icon="icons/full/obj16/editpolicymodelModelFile.gif"
            extensions="editpolicymodel"
            class="editpolicymodel.presentation.editpolicymodelEditor"
            contributorClass="editpolicymodel.presentation.editpolicymodelActionBarContributor">
      </editor>
   </extension>

</plugin>
